.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.photo-upload, .camera-feed {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
}

.photo-upload img, .camera-feed img {
  max-width: 50vw; /* 最多半個螢幕 */
  max-height: 50vh; /* 最多半個螢幕 */
  width: auto;
  height: auto;
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .photo-upload img, .camera-feed img {
    max-width: 50vw; /* 最多半個螢幕 */
    max-height: 50vh; /* 最多半個螢幕 */
  }
}

@media (orientation: landscape) {
  @media (max-width: 768px) {
    .photo-upload img, .camera-feed img {
      max-width: 70vw; /* 横向时最多半个屏幕 */
      max-height: 70vh; /* 横向时最多半个屏幕 */
    }
  }
}

@media (orientation: portrait) {
  @media (max-width: 768px) {
    .photo-upload img, .camera-feed img {
      max-width: 40vw; /* 縱向時最多半個屏幕 */
      max-height: 40vh; /* 縱向時最多半個屏幕 */
    }
  }
}
