.app-container {
  display: flex;
  height: 100vh;
}

/* 新增以下部分來處理手機翻轉時的左右擺放 */
@media (orientation: landscape) {
  .app-container {
    flex-direction: row;
  }

  .photo-upload, .camera-feed {
    display: flex;
    flex: 1;
    margin: 10px;
    width: calc(50vw - 20px);
    max-width: calc(50vw - 20px);
    height: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    flex-direction: column;
  }

  .image-container {
    margin-top: 10px;
    width: calc(50vw - 20px);
    max-width: calc(50vw - 20px);
    height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (orientation: portrait) {
  .app-container {
    flex-direction: column;
    height: auto;
  }

  .photo-upload, .camera-feed {
    display: flex;
    flex: 1;
    margin: 10px;
    width: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    height: 50vh;
    max-height: 50vh;
    flex-direction: column;
  }

  .image-container {
    margin-top: 10px;
    width: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    height: calc(50vh - 100px);
    max-height: calc(50vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
}
